*{
    font-family: Arial, Helvetica, sans-serif;
}
.input,.form-container{
    display:flex;
    color:white;
}
form>*{
    margin:8px;
    margin-bottom:16px;
}
input{
    background-color: #FAFAFF;
    outline:none;
    border-radius:4px;
}
.input{
    flex-direction: column;
    letter-spacing: 2px;
}
.form-container{
    border:solid black;
    width:fit-content;
    padding:16px;
    background-color:#30343F;
    border-radius:16px;
}
legend{
    font-size: 1.3rem;
    margin: 16px;
    margin-bottom:32px;
}
.flex{
    display:flex;
}
button{
    flex:1;
    border:none;
    padding:16px;
    border-radius:4px;
}